In [50]:
import pandas as pd
import os

In [51]:
root_1 = os.path.join("..","Data from company")
root_2 = os.path.join("..","Data from me")

In [52]:
gis_df = pd.read_csv(os.path.join(root_1,'GIS_NETWORKDETAILS.csv'))
gis_df['TO_SWITCHID'] = pd.to_numeric(gis_df['TO_SWITCHID'],errors='coerce')
gis_df = gis_df.dropna(subset=['TO_SWITCHID']).reset_index(drop=True)
switches_22_33_KV = gis_df['TO_SWITCHID'].astype('int').unique()

In [53]:
gis_df = pd.read_csv(os.path.join(root_1,'GIS_NETWORKDETAILS.csv'))
gis_df['FROM_SWITCHID'] = pd.to_numeric(gis_df['FROM_SWITCHID'],errors='coerce')
gis_df = gis_df.dropna(subset=['FROM_SWITCHID']).reset_index(drop=True)
switches_11_KV = gis_df['FROM_SWITCHID'].astype('int').unique()

In [54]:
len(switches_11_KV), len(switches_22_33_KV)

(9508, 8904)

In [55]:
scada_df = pd.read_csv(os.path.join(root_2,'Scada Data','Combined_Scada_Data.csv'))
scada_11_KV_df = scada_df[scada_df['VOLTAGE']=='11KV'].reset_index(drop=True)
scada_11_KV_df = scada_11_KV_df[scada_11_KV_df['PARA']=='I'].reset_index(drop=True)
scada_11_KV_df

MemoryError: Unable to allocate 1.55 GiB for an array with shape (3, 69508488) and data type object

In [ ]:
scada_df = pd.read_csv(os.path.join(root_2,'Scada Data','Combined_Scada_Data.csv'))
scada_22_33_KV_df = scada_df[scada_df['VOLTAGE']!='11KV'].reset_index(drop=True)
scada_22_33_KV_df = scada_22_33_KV_df[scada_22_33_KV_df['PARA']=='I'].reset_index(drop=True)
scada_22_33_KV_df

                           SYSTIME   SWNO VOLTAGE PARA   VALUE
0        2024-09-16 00:00:00+00:00  33318    33KV    I   49.89
1        2024-09-16 00:00:00+00:00  33120    22KV    I  148.00
2        2024-09-16 00:00:00+00:00  33245    33KV    I   96.00
3        2024-09-16 00:00:00+00:00   1163    22KV    I   85.90
4        2024-09-16 00:00:00+00:00  33152    33KV    I   86.92
...                            ...    ...     ...  ...     ...
2183879  2024-12-15 23:45:00+00:00  33036    33KV    I   91.97
2183880  2024-12-15 23:45:00+00:00  33244    22KV    I   78.00
2183881  2024-12-15 23:45:00+00:00   1192    22KV    I   74.58
2183882  2024-12-15 23:45:00+00:00  33136    22KV    I  104.20
2183883  2024-12-15 23:45:00+00:00  33055    33KV    I   95.29

[2183884 rows x 5 columns]